a {
  font-size:14px;
  font-weight:700
}
.superNav {
  font-size:13px;
}
.form-control {
  outline:none !important;
  box-shadow: none !important;
}
@media screen and (max-width:540px){
  .centerOnMobile {
    text-align:center
  }
}

.cntent {
  text-align: center;
      border: 1px solid red;
  }


img, svg {
    vertical-align: middle;
    height: 512px;
    width: 512px;
  }
